@media(max-width: 1024px){
    header .d-flex {
    flex-direction: column;
    text-align: right;
}
    .about {
        flex-direction: column;
    }
    .about p{
        text-align: left;
    }
    .ftr-info ul {
    flex-direction: column;
    align-items: center;
}
    .swiper{
        height: 650px;
    }
}